nav,header,footer{
    display: block;
}
body{
    line-height: 1;
    margin: 0;

}
nav{
    width: 100%;
    margin: 0;
}
nav ul  {
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
ul.topnav li{
    display: block;
    float: left;
}
ul.topnav li.topnav-right{
    float: right;
}
ul.topnav li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #998787;
    min-height: 16px;
    padding: 15px;
    text-align: center; 
}
ul.topnav li a:hover{
    box-sizing: border-box;
    color:#fff;
    background-color: #2311c7;
   }

@media screen and (max-width:580px){
    ul.topnav li:not(:nth-child(4)){
        display: none;
    }
   ul.topnav li.scroll{
        display: block;
        float: right;   
    }
}   
.container{
    width:100%;
    margin:0;
    padding-top: 5%;
    padding-bottom: 4%;
}
#grad{
    background:linear-gradient(to bottom right,#00f,#2a2a68) ;
    text-decoration:#eee;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:center; 

}
.row::after{
    display: table;
    clear: both;
    content: "";
}
h1.ray{
    font-size: 80px;
    color: #eee;
    margin: 0;
    /*line-height: 70px;*/
  
}
.col-1{width: 2.33%;}
.col-2{width: 25.33%;}
.col-3{width: 33.33%;}
.col-4{width: 45%;}
.col-5{width: 50%;}
.col-6{width: 50%;}
.col-7{width: 84.5%;}
.col-8{width: 84.56%;}
.col-9{width: 100%;}

input[type="text"]{
    width: 400px;
    font-size: 20px;
    padding:5px;
}
div.leftside{
    margin-left: 30%;
}

div.rightside{
    margin-left: 15%;
    box-shadow:10px  #000;
}
@media screen and (max-width:680px){
    .col-6{
    width: 100%;
    margin: 0;
}
div.leftside,div.rightside{
    margin: 15px;
}
}
h1.test{
    font-size: 70px;
    text-align: center;
    padding: 10px;
}


